<div id="pokebox">

</div>

<div id="pokebox2">

</div>

<%= @pokemons.each do |x| %>
  <li class="pokelist"><a class="pokelink" href="<%= pokemon_path(x) %>"><%= x.name %></a> : <a class="pokelink2" href="<%= pokemon_path(x) %>">Full details</a></li>
<% end %>





<script id="entry-template" type="text/x-handlebars-template">
  <img src="{{image_url}}" />
  <p>{{name}}</p>
</script>

<script id="entry-template2" type="text/x-handlebars-template">
  <img src="{{image_url}}" />
  <p>{{name}}</p>
  <p>{{attack}}</p>
  <p>{{defense}}</p>
  <p>{{happiness}}</p>
  <p>{{speed}}</p>
  <p>{{species}}</p>
  <p>{{growth_rate}}</p>
</script>
