

<script id="entry-template2" type="text/x-handlebars-template">
  <img src="{{image_url}}" />
  <p>{{name}}</p>
  <p>{{attack}}</p>
  <p>{{defense}}</p>
  <p>{{happiness}}</p>
  <p>{{speed}}</p>
  <p>{{species}}</p>
  <p>{{growth_rate}}</p>
</script>
